= javascript_include_tag "jquery.headerlinks.min"

:javascript
  $(function () {
  var table_of_contents = document.createElement('div');
  $('.title').after(table_of_contents);
  $(table_of_contents).headerlinks({
  debug: false,
  deny: '.title',
  headers: {use: true, depth: 3},
  numbers: false,
  container: {}
  });
  });

%h1.title APIn käyttö

%h1 Johdanto

%p
  Rajapinnat tukevat sekä JSON- että XML-formaattia. Rajapinnan kautta on mahdollista lukea ravintoloiden ja lounaiden
  tietoja, oman ravintolan luomiseen tarvitset API-avaimen.

%p
  Content-typen täytyy olla application/json tai application/xml.

%h1 Avoimet rajapinnat

%ul
  %li http://www.lolnas.fi/api/restaurants.(json/xml)
  %ul
    %li Listaa kaikki ravintolat ja niiden voimassaolevat lounaat
  %li http://www.lolnas.fi/api/restaurants/id.(json/xml)
  %ul
    %li Listaa ravintolan id tiedot ja kaikki lounaat
  %li http://www.lolnas.fi/api/restaurants/id/lunches.(json/xml)
  %ul
    %li Listaa ravintolan id kaikki lounaat
  %li http://www.lolnas.fi/api/restaurants/id/lunches/id.(json/xml)
  %ul
    %li Listaa lounaan id tiedot

%h1 API-avaimen vaativat rajapinnat

%ul
  %li POST http://www.lolnas.fi/api/restaurants.(json/xml)?auth_token=API_AVAIN
  %ul
    %li Luo uuden ravintolan
    %pre { "restaurant" : { "name":"Happiness", "latitude":60.17176616743565, "longitude":24.947290420532227 } }

%ul
  %li PUT http://www.lolnas.fi/api/restaurants/id.(json/xml)?auth_token=API_AVAIN
  %ul
    %li Muokkaa ravintolan id tietoja
    %pre { "restaurant" : { "name":"Happiness Thai Buffet" } }

%ul
  %li POST http://www.lolnas.fi/api/restaurants/id/lunches.(json/xml)?auth_token=API_AVAIN
  %ul
    %li Luo ravintolaan id uuden lounaan
    %pre { "lunch" : { "title":"Thai-buffet", "price":8.5 } }

%ul
  %li PUT http://www.lolnas.fi/api/restaurants/id/lunches/lunch_id.(json/xml)?auth_token=API_AVAIN
  %ul
    %li Muokkaa ravintolan id lounasta lunch_id
    %pre { "lunch" : { "title":"Thai-buffet sushilla", "price":9.5 } }

%ul
  %li DESTROY http://www.lolnas.fi/api/restaurants/id/lunches/lunch_id.(json/xml)?auth_token=API_AVAIN
  %ul
    %li Poista ravintolan id lounas lunch_id

%h1 API-avaimen hankkiminen

%ul
  %li Luo itsellesi API-avain osoitteessa #{link_to root_url(:only_path => false)+"api_users/sign_up", "/api_users/sign_up"}
  %li Saat sähköpostilla ohjeet tunnuksen avaimen aktivointiin ja API-avaimen
  %li Aktivoi tunnus sähköpostin ohjeiden mukaan

%h1 Tietomalli

%h2 Restaurant

%p
  Rajapinnan kautta on mahdollista luoda oma ravintola palveluun. Kaikki ravintolat ovat tervetulleita.

%table
  %tr
    %th
      Kentän&nbsp;nimi
    %th
      Tyyppi
    %th
      Pakollinen?
    %th
      Lisätietoja
  %tr
    %td
      name
    %td
      String
    %td
      X
  %tr
    %td
      latitude
    %td
      Float
    %td
      X
  %tr
    %td
      longitude
    %td
      Float
    %td
      X
  %tr
    %td
      url
    %td
      String
    %td
  %tr
    %td
      data_provider_title
    %td
      String
    %td
    %td
      Tämä näkyy otsikkona kohdassa "Tämän ravintolan lounastiedot toimitti X."
  %tr
    %td
      data_provider_url
    %td
      String
    %td
    %td
      Kohdan "Tämän ravintolan lounastiedot toimitti X." linkki johtaa tähän osoitteeseen.

%h2 Lunch

%p
  Jokainen lounasvaihtoehto tallenetaan järjestelmään tämän olion instanssina.
  Mikäli kyseessä on buffet-lounas, yhden instanssin tulisi sisältää kaikki hintaan sisältyvät ruuat.

%table
  %tr
    %th
      Kentän&nbsp;nimi
    %th
      Tyyppi
    %th
      Pakollinen?
    %th
      Lisätietoja
  %tr
    %td
      title
    %td
      Text
    %td
      X
  %tr
    %td
      price
    %td
      Float
    %td
  %tr
    %td
      valid_from
    %td
      Date
    %td
    %td
      Määrittelee mistä lähtien lounas on voimassa
  %tr
    %td
      valid_until
    %td
      Date
    %td
    %td
      Määrittelee mihin asti lounas on voimassa
  %tr
    %td
      valid_date
    %td
      String (esim. pp.kk.vvvv)
    %td
    %td
      Määrittelee päivän, jolloin lounas on voimassa. Jos nil, niin ko. lounas on aina voimassa.
      Voidaan käyttää POST/PUT-operaatioissa valid_from/valid_until sijaan.

%h1 JSON-P

%p
  API tukee JSON-P-kutsuja parametrillä "callback". Esimerkiksi:

  %li GET http://www.lolnas.fi/api/restaurants/1/lunches/5.json?callback=funktio
  %pre
    = preserve "funktio(\n  {\n    \"lunch\": {\n      \"id\": 5,\n      |
    \"price\": 9.5,\n      \"title\": \"Thai-buffet + sushi\",\n      |
    \"valid_from\": null,\n      \"valid_until\": null\n    }\n  }\n)" |