Tervetuloa lounastiedon rajapintaan.

%h2
  Nälkäisille

%p
  #{link_to "Lounaslista", "/lista"} päivittyy joka päivä näyttämään kuluvan
  päivän lounaat. Lähimmät lounaat näkyvät listassa ensimmäisinä.

%h2
  Sovelluskehittäjille

%p
  #{link_to "API", "/api"} mahdollistaa lounastiedon tallentamisen ja lukemisen.
  Voit vaikkapa kirjoittaa parserin suosikkiravintolallesi tai käyttää
  lounastietoa omassa sovelluksessasi.

%h2
  Yhteydenottajille

%p
  Kehitysideoita? Toiveita? Suosikkiravintolasi puuttuu listalta?
  Lolnas-palauteposti on käytössäsi vuorokauden jokaisena tuntina.
  =link_to "palaute@lolnas.fi", "mailto:palaute@lolnas.fi"