Tervetuloa lounastiedon rajapintaan.

<h2>Nälkäisille</h2>

<a href="/lista">Lounaslista</a> päivittyy joka päivä näyttämään kuluvan päivän lounaat. Lähimmät lounaat
näkyvät listassa ensimmäisinä.

<h2>Sovelluskehittäjille</h2>

<a href="/api">API</a> mahdollistaa lounastiedon tallentamisen ja lukemisen. Voit vaikkapa kirjoittaa parserin
suosikkiravintolallesi tai käyttää lounastietoa omassa sovelluksessasi.