%div#controls
  %a{:href => 'javascript: gl.locate();'} Locate

%div#map

%div#list
  -@restaurants.each do |r|
    %h2= r.url.blank? ? r.name : link_to(r.name, r.url, :target => "_blank")
    -r.valid_lunches.each do |l|
      = l.title
      %strong= l.price
      %br/
