/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
  text-align: center;
  font-size: 22px;
  font-family: 'Mate', serif;
}

#container {
  margin: 0 auto;
  width: 600px;
  text-align: left;
}

div.maplink {
  float: right;
}

#logo {
  width: 100%;
}

#logo img {
  width: 100%;
}

th {
  padding-right: 20px;
}

div#flash_messages {
  padding: 20px;
  background: #FFFF66;
  margin-bottom: 20px;
}